html {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
  position: fixed;
}
body {
  width: 100%;
  height: 100%;
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
}
.left {
  height: 100%;
  background-color: #1e3050;
  width: 20%;
  border-radius: 0rem 1rem 1rem 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gachngang {
  width: 259.2rem;
  height: 0.2rem;
  background-color: #1e3050;
}
.fa-solid {
  color: white;
  font-size: 4rem;
  margin-right: 1rem;
  width: 4rem;
  margin-left: 1rem;
}
span {
  font-size: 2rem;
  color: white;
  font-weight: 600;
}

h1 {
  font-size: 3rem;
  color: white;
  font-weight: 600;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.gachngang {
  margin-bottom: 2rem;
}
.xinchao {
  display: flex;
  align-items: center;
  width: 25rem;
  margin-bottom: 2rem;
}
.gachngang2 {
  width: 28.7rem;
  height: 0.2rem;
  background-color: white;
  margin-bottom: 2rem;
}
.detail,
.progess,
.score,
.info {
  display: flex;
  align-items: center;
  width: 25rem;
  height: 5rem;
  margin-bottom: 5rem;
  text-decoration: none;
  border-radius: 1rem;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.1);
    background-color: #0054e6;
  }
}
.hienthi {
  display: flex;
  justify-content: space-between;
  width: 110rem;
  margin-top: 1rem;
  margin-left: 2rem;
}
.hienthi-thongtin {
  display: flex;
  align-items: center;
}
.hienthi-thongtin > :nth-child(1) {
  color: #1e3050;
}
.hienthi-thongtin > :nth-child(2) {
  color: #1e3050;
}
.btn-out {
  cursor: pointer;
  width: 15rem;
  height: 4rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  border: none;
  background-color: #1e3050;
  &:hover {
    background-color: #0054e6;
  }
}
.fa-right-from-bracket {
  font-size: 2.5rem;
}
.out {
  font-size: 1.6rem;
  font-weight: 600;
  color: white;
  margin-right: 1rem;
  width: 15rem;
}

.right-container-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100rem;
}
.thongtin1-box1 {
  display: flex;
  justify-content: end;
  align-items: center;
}
.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100rem;
  margin-top: 2rem;
}
.right-top-left > :nth-child(1),
.right-top-right > :nth-child(1) {
  margin-bottom: 3rem;
  font-size: 1.8rem;
  color: black;
  margin-top: 2rem;
}
.right-top-left,
.right-top-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.thongtin1-box1 {
  margin-bottom: 0.4rem;
}
.thongtin1-box1 > :nth-child(1) {
  font-size: 1.7rem;
  margin-right: 1rem;
}
.thongtin1-box1 > :nth-child(2) {
  width: 20rem;
  height: 3rem;
  background-color: #e1e1e1;
  font-size: 1.7rem;
  font-weight: 600;
  border-radius: 1rem;
  padding: 1.2rem 0rem 0rem 1rem;
}
.thongtin1-box1 > :nth-child(3) {
  font-size: 1.7rem;
  margin-left: 1rem;
  width: 23rem;
}
.right-container-bot {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
}
.right-container-bot > :nth-child(1) {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 4rem;
}
.bot-box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  margin-right: 2rem;
}
.bot-box1 > :nth-child(1) {
  font-size: 1.7rem;
  font-weight: 600;
  margin-right: 1rem;
}
.bot-box1 > :nth-child(2) {
  width: 70rem;
  height: 4rem;
  border-radius: 1rem;
  border: 0.15rem solid black;
  padding-top: 1rem;
  padding-left: 1rem;
  font-family: "Roboto";
  font-size: 1.7rem;
}
